<div class="container">
  <header
    class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom"
  >
    <a
      href="/"
      class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none"
    >
      <span class="fs-4 fw-bold"> <i class="bi bi-shop-window"></i> SHOP</span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item"><a href="/products" class="nav-link">Products</a></li>
      <li class="nav-item"><a href="/add" class="nav-link">Add</a></li>
    </ul>
    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
      <button type="button" class="btn btn-info"><a class="text-light text-decoration-none" href="/login">Login</a></button>
      <button type="button" class="btn btn-primary"><a class="text-light text-decoration-none" href="/register">Register</a></button>
    </div>
  </header>
</div>