<!DOCTYPE html>
<html lang="en">
    {{!-- HEADER --}}
    {{>head}}
<body>
    {{!-- NAVBAR --}}
    {{>navbar}}
    {{!-- BODY --}}
    <div>
        {{{body}}}
    </div>

    {{!-- FOOTER --}}
    {{>footer}}
</body>
</html>