<div class="container">
  <div class="text-center w-75 mx-auto my-5">
  {{#if registerError}}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Error : </strong> {{registerError}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
  {{/if}}
<form action="/register" method="post" class="form-signin">
      <img class="mb-3" src="https://cdn-icons-png.flaticon.com/512/5087/5087579.png" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Please Register</h1>
      <label for="firstname" class="sr-only my-2">First Name</label>
      <input name="firstname" type="text" id="firstname" class="form-control" placeholder="First Name"  autofocus="">
      
      <label for="lastname" class="sr-only my-2">Last Name</label>
      <input name="lastname" type="text" id="lastname" class="form-control" placeholder="Last Name"  autofocus="">

      <label for="inputEmail" class="sr-only my-2">Email address</label>
      <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address"  autofocus="">
      
      <label for="inputPassword" class="sr-only my-2">Password</label>
      <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" >
      
      <button class="btn btn-lg btn-primary btn-block mt-2" type="submit">Register</button>
    </form>
</div>


</div>